:root {
  --black-primary:#121212;
  --black-secondary: #212121;
  --blue-primary: #003656;
  --blue-secondary: #00557c;
  --cyan-primary: #035b7a;
  --cyan-secondary: #0b7b9e;
  --light-primary: #c6c3b6;
  --light-secondary: #dddace;
  --white-primary: #eaeaea;
  --white-secondary: #f2f3f4;
  --gray-primary: #6f7174;

  --font-header: min(36px, 5vw);
  --font-p: min(18px, 3vw);
  --font-sub: min(11px, 2vw);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

body {
  align-items: center;
  justify-content: center;
  background-color: var(--black-secondary);
  color: var(--light-secondary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  align-items: center;
  background-color: var(--black-primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0px;
}

@media (min-aspect-ratio: 11/16) {
  main {
    width: 75vw;
  }
}

@media (max-aspect-ratio: 11/16) {
  main {
    width: 100vw;
  }
}

h1 {
  font-size: var(--font-header);
}

p {
  font-size: var(--font-p);
}

a {
  color: var(--cyan-secondary);
  text-decoration: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding: 0.25em;
}

#navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--cyan-secondary);
  padding: 0.25em;
}

#navbar a {
  color: var(--cyan-secondary);
  background-color: var(--black-primary);
  border-radius: 0.25em;
  padding: 0.25em;
  margin: 0em 1em;
  font-size: var(--font-p);
}

@media (hover) {
  #navbar a {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
  }

  #navbar a:hover {
    background-color: var(--blue-primary);
  }
}

#content {
  scrollbar-color: var(--gray-primary) var(--black-primary);
  overflow: scroll;
  overflow-x: hidden;
  padding: 0em 2em;
  flex: 20;
  scroll-behavior: smooth;
}

#about {
  border: 1px solid var(--black-primary);
}

#projects-container {
  background: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#projects-container .column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#projects-container .cell {
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}

#projects-container .cell img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#projects-container .cell a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  color: #00000000;
  font-size: var(--font-header);
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (hover) {
  #projects-container .cell a {
    transition: color 0.4s, background-color 0.4s;
    -webkit-transition: color 0.4s, background-color 0.4s;
    -moz-transition: color 0.4s, background-color 0.4s;
    -o-transition: color 0.4s, background-color 0.4s;
    -ms-transition: color 0.4s, background-color 0.4s;
  }

  #projects-container .cell a:hover {
    background-color: #00000088;
    color: var(--light-secondary);
  }
}

#contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  font-size: var(--font-p);
  padding: 2em 0em;
}

#contact ul {
  list-style-type: none;
  text-align: left;
}

#contact li {
  margin-bottom: 1em;
}

#contact i {
  color: var(--light-primary);
}

#contact i.fa-copy,#contact i.fa-check {
  font-size: var(--font-sub);
}

#contact a {
  color: var(--light-primary);
  background-color: var(--black-primary);
  border-radius: 0.25em;
  padding: 0.25em;
  cursor: pointer;
}

@media (hover) {
  #contact a {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
  }

  #contact a:hover {
    background-color: var(--black-secondary);
  }
}

#subtext {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

#subtext sub {
  font-size: var(--font-sub);
}
