:root {
  --black-primary:#121212;
  --black-secondary: #212121;
  --blue-primary: #002756;
  --blue-secondary: #00447c;
  --cyan-primary: #035b7a;
  --cyan-secondary: #0b7b9e;
  --light-primary: #c6c3b6;
  --light-secondary: #dddace;
  --white-primary: #eaeaea;
  --white-secondary: #f2f3f4;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

body {
  align-items: center;
  justify-content: center;
  background-color: var(--black-secondary);
  color: var(--light-secondary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  background-color: var(--black-primary);
  text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  width: calc(max(75vw, 750px));
  height: 100vh;
}

#navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: center;
  list-style-type: none;
}

#navbar li {
  padding-left: 1em;
  padding-right: 1em;
}

#content {
  scrollbar-color: gray var(--black-primary);
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 2em;
  padding-right: 2em;
  height: 80vh;
}

h1 {
  font-size: 72px;
}

sub {
  font-size: 12px;
}

a {
  color: var(--cyan-secondary);
  text-decoration: none;
}

#projects-container {
  height: 1000px;
  background-color: gray;
}

#media-links {
  font-size: 18px;
  list-style-type: none;
}

#media-links li {
  margin-top: 1em;
}

#media-links i {
  color: var(--light-primary);
}

#media-links a {
  color: var(--light-primary);
}